* {
  margin: 0;
  padding: 0;
  border: solid 1px;
  box-sizing: border-box;
}

body {
    background: linear-gradient(131deg, #00ffbd, #847bff, #c181df, #1fd0a4, #f97cef, #f9ff00);
    background-size: 1200% 1200%;
    -webkit-animation: AnimationName 35s ease infinite;
    -moz-animation: AnimationName 35s ease infinite;
    -o-animation: AnimationName 35s ease infinite;
    animation: AnimationName 35s ease infinite;
}
@-webkit-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-moz-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@-o-keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}
@keyframes AnimationName {
    0%{background-position:2% 0%}
    50%{background-position:99% 100%}
    100%{background-position:2% 0%}
}


body {
    display: flex;
}


.nav-wrapper {
    height: 100vh;
    width: 18%;
}
.nav {
    margin-top: 43px;
    margin-left: 0;
}
.nav-content {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}
.nav-icon {
    height: 8px;
    width: 8px;
    margin-right: 9px;
    border-radius: 50%;
}


.contents-wrapper {
    height: 100%;
    width: 82%;
}
.heading {
    margin-top: 35px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 32px;
    font-family: monospace;
}
.contents-wrapper-inner {
    display: flex;
    width: 800px;
    margin: 0 auto;
}

.content-left {
    width: 400px;
}

.face-photo {
    width: 100%;
    height: 414px;
    margin-bottom: 23px;
}
 

.profile {
    margin-bottom: 40px;
    margin-left: 20px;
}
.profile-english {
    width: 300px;
    margin-bottom: 20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.mail {
    margin-bottom: 20px;
}


.content-right {
    width: 530px;
}
.news-heading {
    margin-bottom: 30px;
    text-align: center;
    font-size: 16px;
    font-weight: normal;
}
.news-list {
    margin-right: 10px;
    margin-left: 10px;
}
.news-list-title {
    margin-top: 5px;
    margin-bottom: 4px;
}
.news-list-description {
    margin-bottom: 30px;
    margin-left: 0px;
}
